# .travis.yml
language: php

jobs:
  include:
    - php: 7.4
      dist: xenial
    - php: 8.1
      dist: focal
    - php: 8.3
      dist: focal

services:
  - rabbitmq

addons:
  apt:
    packages:
    - rabbitmq-server

cache:
  directories:
    - vendor

before_script:
  - composer install --no-interaction
  - pecl install pcov

script:
  - vendor/bin/phpunit
  - |
    if [[ $(php -r 'echo PHP_MAJOR_VERSION;') -ge 8 ]]; then
      php -r '
        $xml = simplexml_load_file("clover.xml");
        $metrics = $xml->project->metrics;
        $covered = (int)$metrics["coveredstatements"];
        $total = (int)$metrics["statements"];
        $coverage = $total ? ($covered / $total) * 100 : 0;
        if ($coverage < 100) {
          fwrite(STDERR, sprintf("Unit test coverage is less than 100%% (%.2f%%)\n", $coverage));
          exit(1);
        }
      '
    fi
  - vendor/bin/tlint
  - vendor/bin/php-formatter fix -v --dry-run
