<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Integration">
      <directory suffix="Test.php">./tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="AMQP_ENV" value="production" force="true"/>
    <env name="AMQP_HOST" value="localhost" force="true"/>
    <env name="AMQP_PORT" value="5672" force="true"/>
    <env name="AMQP_USER" value="guest" force="true"/>
    <env name="AMQP_PASSWORD" value="guest" force="true"/>
    <env name="AMQP_VHOST" value="/" force="true"/>
  </php>
  <logging>
      <log type="coverage-text" target="php://stdout" lowUpperBound="50" highLowerBound="80" />
  </logging>
</phpunit>
